<div class="home-container">
  <app-navbar></app-navbar>
  <app-banner2>
    <ng-template #action1>
      <div class="home-fragment1">
        <span class="home-text1">Get Started</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment2">
        <span class="home-text2">
          Your one-stop solution for all your healthcare needs
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment3">
        <span class="home-text3">Welcome to Smart Healthcare Portal</span>
      </div>
    </ng-template>
  </app-banner2>
  <app-hero></app-hero>
  <span>
    <date-time-primitive
      format="DD/MM/YYYY"
      date="Fri Dec 06 2024 20:50:28 GMT+0500 (Pakistan Standard Time)"
    ></date-time-primitive>
  </span>
  <app-features1></app-features1>
  <app-cta></app-cta>
  <app-features2></app-features2>
  <app-pricing></app-pricing>
  <app-steps></app-steps>
  <app-testimonial></app-testimonial>
  <app-contact></app-contact>
  <app-footer></app-footer>
</div>
